@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0a0c1a;
  --accent-gold: #fbbf24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark) !important;
  color: white !important;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Чтобы не было лишней прокрутки */
}

/* Фикс для Telegram WebApp: растягиваем на всю высоту */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}